<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/uploads/ [NC]
    RewriteRule ^(.*)$ routes.php?request=$1 [L,QSA]
</IfModule>
