.heading{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 30px;
}

.container {
    width: 94%;
    margin: 10px auto 20px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 6px 7px 1px #afadad;
    opacity: 0.9;
}

.body-content {
    margin-left: 10px;
    margin-right: 10px;
}

.question {
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.option {
    width: calc(50% - 5px);
    margin-bottom: 10px;
}

.option label {
    display: block;
}

.circle-label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 auto;
    cursor: pointer;
    border: 1px black solid;
}

.option input[type="radio"] {
    display: none;
}

.option input[type="radio"]:checked + .circle-label {
    background-color: #007bff;
}

#feedback {
    width: 100%;
    height: 53px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

.feedback-container {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    box-shadow: 5px 6px 7px 1px #afadad;
    opacity: 0.9;
}

.send-feedback-button {
    max-width: 40%;
    margin: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: flex-end; 
}

@media screen and (max-width: 500px) {
    .container {
        width: 81%; /* Reset width */
        max-width: 1100px; /* Reset max-width */
        margin: 15px auto; /* Reset margin */
    }
    .option {
        width: calc(33.33% - 20px); /* Reset width */
    }
    .feedback-container {
        width: 85%;
        margin: auto;
        margin-top: 5px;
        box-shadow: 5px 6px 7px 1px #afadad;
        opacity: 0.9;
    }
}