<mat-sidenav-container>

  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" class="mat-sidenav" [opened]="!mobileQuery.matches">    
    <img src="assets/images/CEPAlogo2-removebg-preview.png" class="logo" alt="CEPAnav">
      <mat-list class="side-nav-contet nav-list"> 
        <mat-list-item class="nav-list-item" (click)="navigateToHome(); selectedNavItem = 'home'" [ngClass]="selectedNavItem === 'home' ? 'selected' : ''">
          <i class="fa-solid fa-house"></i>
          <span>Home</span>
        </mat-list-item>
        
        <mat-list-item class="nav-list-item" (click)="navigateToEventManagement(); selectedNavItem = 'event-management'" [ngClass]="selectedNavItem === 'event-management' ? 'selected' : ''">
          <i class="fa-regular fa-calendar-days"></i>
          <span>Event Management</span>
        </mat-list-item>
        
        <mat-list-item class="nav-list-item" (click)="navigateToParticipantManagement(); selectedNavItem = 'participant-management'" [ngClass]="selectedNavItem === 'participant-management' ? 'selected' : ''">
          <i class="fa-solid fa-users"></i>
          <span>Participant Management</span>
        </mat-list-item>
        
        <mat-list-item class="nav-list-item" (click)="navigateToMailer(); selectedNavItem = 'mailer'" [ngClass]="selectedNavItem === 'mailer' ? 'selected' : ''">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>Send Invitation</span>
        </mat-list-item>

        <mat-list-item class="nav-list-item" (click)="navigateToSearchParticipant()">
          <i class="fa-regular fa-calendar-days"></i>
          <span>Search Participant</span>
        </mat-list-item>
        
        <mat-list-item class="nav-list-item" (click)="navigateToFeedback()">
          <i class="fa-solid fa-users"></i>
          <span>User Feedback</span>
        </mat-list-item>

        <div class="logout-container">
          <div class="hr">
            <hr>
          </div>
          <mat-list-item class="nav-list-item logout" (click)="redirectToAdminLogin()">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Log Out</span>
          </mat-list-item>
        </div>
      </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-button (click)="snav.toggle()" class="side-nav-tbutton" style="border: none; background-color: whitesmoke;">
        <i class="fa-solid fa-bars side-toggle"></i>
      </button>      
      <div class="datetime-container">
        <i class="fa-regular fa-calendar"></i>
        <span>{{ currentDateTime | date: 'EEEE, MMM d, y, h:mm a' }}</span>
    </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>