<div class="edit-participant-form">
  <h2>Edit Participant</h2>
  <form [formGroup]="updateForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" formControlName="first_name" placeholder="{{data.participant.first_name}}" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" formControlName="last_name" placeholder="{{data.participant.last_name}}" required>
    </div>
    <div class="form-group">
      <label for="phoneNumber">ID Number</label>
      <input type="text" id="phoneNumber" formControlName="phone_number" placeholder="{{data.participant.idnumber}}" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" placeholder="{{data.participant.email}}" required>
    </div>
    <div class="form-actions">
      <button type="submit" (click)="updateParticipantDetails()">Update</button>
      <button type="button" (click)="onCancelClick()">Cancel</button>
    </div>
  </form>
</div>
