<body>
  <h1>Profile <i class="fa-solid fa-circle-user"></i></h1>
  <hr>
  
  <div class="rectangle">
    <div class="logo">
      <span class="icon-circle"><i class="fa-solid fa-circle-user"></i></span>
    </div>
    <div class="student-info">
      <div class="vertical-line"></div>
      <table class="info-table">
        <tr>
          <th class="label">Student Number:</th>
          <td id="student_number_display">{{ user.idnumber }}</td>
        </tr>
        <tr>
          <th class="label">Full Name:</th>
          <td id="full_name_display">{{ user.firstname }} {{ user.lastname }}</td>
        </tr>
        <tr>
          <th class="label">Email Address:</th>
          <td id="email_address_display">{{ user.email }}</td>
        </tr>
        <tr>
          <th class="label">Gender:</th>
          <td id="college_program_display">{{ user.gender }}</td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="rectangle" *ngIf="userForm">
    <h2>Personal Information</h2>
    <div class="form-container">
      <form class="form-grid" [formGroup]="userForm" (ngSubmit)="insertUserInfo()">
        <div class="form-group">
          <label for="college_program">College/Program</label>
          <input type="text" id="college_program" formControlName="college_program" placeholder="College program">
        </div>
        <div class="form-group">
          <label for="phone_number">Phone Number</label>
          <input type="text" id="phone_number" formControlName="phone_number" placeholder="Phone number">
        </div>
        <div class="form-group">
          <label for="date_of_birth">Date of Birth</label>
          <input type="date" id="date_of_birth" formControlName="date_of_birth" placeholder="Date of Birth">
        </div>
        <div class="form-group">
          <label for="place_of_birth">Place of Birth</label>
          <input type="text" id="place_of_birth" formControlName="place_of_birth" placeholder="Place of Birth">
        </div>
        <div class="form-group">
          <label for="sex_at_birth">Gender</label>
          <select id="sex_at_birth" formControlName="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="form-group">
          <label for="sexual_orientation">Sexual Orientation</label>
          <select id="sexual_orientation" formControlName="sexual_orientation">
            <option value="Lesbian">Lesbian</option>
            <option value="Gay">Gay</option>
            <option value="Bisexual">Bisexual</option>
            <option value="Transgender">Transgender</option>
            <option value="Queer">Queer</option>
            <option value="Straight">Straight</option>
            <option value="Decline to Answer">Decline to Answer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="gender_identity">Gender Identity</label>
          <select id="gender_identity" formControlName="gender_identity">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="transmale">Transmale</option>
            <option value="transfemale">Transfemale</option>
            <option value="gender_queer">Gender Queer</option>
            <option value="decline_to_answer">Decline to Answer</option>
          </select>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="rectangle">
    <h2>Events I'm Registered To</h2>
    <table class="event-table">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Date</th>
          <th>Organizer</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventsJoined">
          <td>{{ event.event_name }}</td>
          <td>{{ event.event_date }}</td>
          <td>{{ event.organizer }}</td>
          <td>{{ event.event_location }}</td>
        </tr>
        <tr *ngIf="eventsJoined.length === 0">
          <td colspan="4">No events joined.</td>
        </tr>
      </tbody>
    </table>
  </div>  
</body>
