<body>
    <h1 class="heading">User Feedback <i class="fa-solid fa-users"></i></h1>
    <hr style="align-items: center; margin-left: 40px; margin-right: 40px; display: flex;">
    <mat-card class="mat-card">
        <mat-card-content>
            <table class="feedback-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th (click)="toggleTooltip('Q1')">Q1<span *ngIf="showTooltip === 'Q1'" class="tooltip">: Did you find events you liked on our platform?</span></th>
                        <th (click)="toggleTooltip('Q2')">Q2<span *ngIf="showTooltip === 'Q2'" class="tooltip">: Would you tell others about our platform?</span></th>
                        <th (click)="toggleTooltip('Q3')">Q3<span *ngIf="showTooltip === 'Q3'" class="tooltip">: Were you well-informed about upcoming events?</span></th>
                        <th (click)="toggleTooltip('Q4')">Q4<span *ngIf="showTooltip === 'Q4'" class="tooltip">: Did our platform help you work with others?</span></th>
                        <th (click)="toggleTooltip('Q5')">Q5<span *ngIf="showTooltip === 'Q5'" class="tooltip">: Do you want more kinds of activities on our platform?</span></th>
                        <th>Feedback</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of feedbackData">
                        <td>{{ data.id }}</td>
                        <td>{{ data.q1_answer }}</td>
                        <td>{{ data.q2_answer }}</td>
                        <td>{{ data.q3_answer }}</td>
                        <td>{{ data.q4_answer }}</td>
                        <td>{{ data.q5_answer }}</td>
                        <td>{{ data.feedback }}</td>
                        <td>{{ data.created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</body>
