/* Global styles */
body {
    overflow: auto;
    background-color: #e4e9f7;
    margin: 0;
    height: 100vh;
}

/* Navbar styles */
.navbar {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.nav-button {
    margin: 0 5px;
}

.nav-button mat-icon {
    margin: 0 5px;
}

.nav-button:hover {
    background-color: #386ab4;
}

/* Content container */
.content-container {
    --gap: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: var(--gap);
    margin: auto;
}

.content-box {
    width: 100%;
    max-width: 1000px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    margin-bottom: 1rem;
}

.content-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.right-corner-info {
    width: 100%;
    max-width: 735px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.right-corner-info h2 {
    margin: 0;
    font-size: 18px;
}

.right-corner-info h2:first-child {
    margin-top: 10px;
}

.right-corner-info h2:last-child {
    margin-bottom: 10px;
}

.right-corner-info mat-form-field {
    width: 100%;
    margin-top: 10px;
}

.right-corner-info .message {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
}

.right-corner-info .character-count {
    margin-top: 5px;
}

.right-corner-info .save-tip {
    font-size: 14px;
    margin-top: 15px;
    color: grey;
}

.right-corner-info button {
    margin-top: 4.5rem;
    width: 100%;
}

.textarea {
    height: 250px;
    width: 100%;
}

.blue-container {
    width: 95;
    background-color: #ffffff;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.eventname {
    text-align: center;
}

.right-corner-info img {
    display: block;
    margin: 0 auto 1.5rem auto;
    width: 180px;
    height: auto;
}

/* No submissions message styles */
.no-submissions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 2rem;
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
    text-align: center;
}

.no-submissions img {
    margin-bottom: 20px;
    width: 180px; /* Adjust the size of the logo if necessary */
    height: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media queries for responsiveness */
@media (min-width: 600px) {
    .content-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content-box,
    .right-corner-info,
    .blue-container {
        margin-top: 0;
    }

    .blue-container {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }
}

/* Additional media queries for smaller screens */
@media (max-width: 600px) {
    .right-corner-info {
        padding: 10px;
    }

    .blue-container {
        padding: 10px;
    }

    .navbar {
        padding: 5px;
    }

    .navbar button {
        font-size: 14px;
    }

    .no-submissions {
        font-size: 1.5rem;
    }
}
