<body>
    <h1 class="heading">Home <i class="fa-solid fa-house"></i></h1>
    <hr style="align-items: center; margin-left: 40px; margin-right: 40px; display: flex;">

    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search..." (input)="filterEvents($event)">
    </div>
    
    <div class="container">
        <mat-card *ngFor="let event of filteredEvents" class="mat-card">
            <mat-card-header>
                <mat-card-title class="event-name">{{ event.event_name }}</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
                <p><strong>Event Date:</strong> {{ event.event_date }}</p>
                <p><strong>Location:</strong> {{ event.event_location }}</p>
                <p><strong>Organizer:</strong> {{ event.organizer }}</p>
            </mat-card-content>
            <mat-card-actions class="register1">
                <button mat-button color="primary" (click)="openUserHomeDetailsDialog(event)" class="button">Enter</button>
            </mat-card-actions>
        </mat-card>
    </div>
    </body>