.custom-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-grid-tile {
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-grid-tile img {
  max-width: 100%;
  max-height: 100%;
}


.image-info{
  margin-left:.5rem;
  text-align: center;
}


/* Adjust styles for smaller screens */
@media (max-width: 1096px) {
  .mat-grid-list {
    width: 100%;
  }
  
  .mat-grid-tile {
    width: calc(100% / 3); /* Ensure equal width for each tile */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px; /* Add some space between tiles */
  }

  .mat-grid-tile img {
    width: 100%; /* Ensure the image fills the tile horizontally */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    max-width: 100px; /* Set maximum width for consistency */
    max-height: 100px; /* Set maximum height for consistency */
    object-fit: contain; /* Ensure the entire image is visible */
    margin-bottom: 10px; /* Add space between image and text */
  }

  .image-info {
    margin-top: 10px; /* Add space between text and next tile */
  }
}



